<mat-card>
  <img mat-card-image src="assets/illustration-hero.svg" alt="hero">
  <mat-card-title>Order Summary</mat-card-title>
  <mat-card-subtitle>You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</mat-card-subtitle>
  <mat-card-content>
    <mat-grid-list cols=3 rowHeight="75px">
      <mat-grid-tile>
        <div mat-card-avatar class="music-icon"></div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <p class="title">Annual Plan</p>
          <p class="subtitle">$59.99/year</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="change-button">Change</p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <button class="proceed-button" mat-button>Proceed to Payment</button>
    <button class="cancel-button" mat-button>Cancel Order</button>
  </mat-card-actions>
</mat-card>
